

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Item name
              </th>
              <th scope="col" class="px-6 py-3">
                  Quantity
              </th>
              <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Add</span>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let item of itemList' class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th [ngClass]="{'text-white': item.itemQuantity>0, 'text-slate-400': item.itemQuantity<=0}" scope="row" class="px-6 py-4 font-medium  whitespace-nowrap">
                  {{item.itemName}}
              </th>
              <td class="px-6 py-4">
                  {{item.itemQuantity}}
              </td>
              <td class="px-6 py-4 text-right">
                <button *ngIf="currentShopper.shopperId != 0 && item.itemQuantity>0" (click)="addItemToList(item.itemId)" type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</button>
                <div *ngIf=" currentShopper.shopperId != 0 && item.itemQuantity <=0" class="text-slate-400">
                  Out of Stock
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
